/* GENARALI */
*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}



/* contenitore nav */
header{
    background-color:rgb(37, 94, 233)
}

.conteiner-nav{
    display: flex;
    min-width: 1100px;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    padding: 30px;

/* liste nav bar */
}
ul {
    list-style: none; 
}

.lista-nav{
    display: flex;    

}

li{
    margin: 0 20px;
    
}

a{
    color: white;
    text-decoration: none;
}

a.accedi{
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    color:rgb(41, 40, 65);
}
 /* sezione hero */
.hero{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
    
   
}

.flex-hero{
    display: flex;
    flex-direction: column;
    height: 700px;
   
    
}

.text-hero{
    /* max-width: 1000px; */
    min-width: 700px;
    margin:0 auto;
    text-align: center;
    padding: 50px;
    margin-top: 60px;
    

}

.titolo{
    color: white;
    padding: 0px;
    font-size: 50px;
}

.descrizione{
    color: white;
    margin-bottom: 60px;
    font-weight: 400;
}

.hero-button1{
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color:rgb(41, 40, 65) ;
}
.hero-button2{
    padding: 10px;
    border-radius: 20px;
    background-color:rgb(41, 40, 65) ;
   margin-left: 20px;
}

/* parte centrale */
.flex-section{
    display: flex;
    min-width: 1200px;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
    margin-top: 200px;
}


.sezione2{
    width: 100%;
    background-color: rgb(243, 238, 238);
    height: 800px;
    padding-top: 30px;
    
} 


.text-colum{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 35%;
    justify-content: center;
    
    
}

h2{
 padding: 180px;
 margin-top: -150px;
 font-size: 60px;
 color:rgb(41, 40, 65);
}



.paragrafo1{
    margin-top: -200px;
    margin-left: 130px;
    color:rgb(41, 40, 65);
    padding: 50px;
    font-size: 13px;
    font-weight: 600;
    inline-size: 550px;
    overflow-wrap: break-word;
    
}


/* parte finale diversa dal resto */

.section4{
    min-width: 1200px;
    margin: 0px auto;
    background-color: rgb(243, 238, 238);
    height: 800px;
    margin-top: 150px;
    
}





.testo-diverso{

    
     min-width: 1200px;
    margin: 0px auto;
    padding: 30px;
    text-align: center;
     
}

.paragrafo2{

    min-width: 1200px;
    margin: 0px auto;
    
    text-align: center;

}

.immagine-diversa{

    margin: 0px auto;
    min-width: 1200px;
    text-align: center;
    height: 400px;
    width: 80%;
}















